*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: 'Alata', sans-serif;
}
.container{
    width: 1440px;
height: 2926px;
margin: auto;
}
.header{
    max-width: 100%;
background-image: url(./images/header.png);
width:100%;
height: 1047px;
top: -381px;
left: 1571px;
background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    gap: 550px;
    padding-top: 50px;
    padding-left: 150px;
}
ul{
    display: flex;
    gap: 35px;
list-style: none;
}
ul li{
    font-size: 55px;
    font-family: Alata;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;
text-align: left;
color: aliceblue;
width: 53px;
height: 25px;
left: 74px;
transition: 0.5s ;
}
ul li:hover{
    color: blue;
}
.header_title{
    border: 2px solid #FFFFFF;
    font-family: alata;
font-size: 72px;
font-weight: 100;
line-height: 70px;
letter-spacing: 0px;
text-align: left;
color: white;
margin-left: 150px;
margin-top: 206px;
padding: 40px;
width: 550px;
position: absolute;
}
.s1_left_img{
    width: 731px;
height: 500px;
margin-top: -200px;
margin-left: 150px;

}
.s1_r_title{
    font-family: Josefin Sans;
font-size: 48px;
font-weight: 300;
line-height: 48px;
letter-spacing: 0px;
text-align: left;

}
.s1_r_text{
    color: rgb(164, 164, 164);
    padding-top: 15px;
font-family: Alata;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;
text-align: left;

}
.s1_right{
    width: 541px;
height: 317px;
top: 1032px;
left: 854px;
margin-left: -200px;
background:white;
margin-right: -70px;
padding-left: 50px;
padding-top: 100px;
}
.section_one{
    display: flex;

}
.section_twoo{
    padding-left: 150px;
    margin-top: 250px;
}
.s2_title{
    font-family: Josefin Sans;
font-size: 48px;
font-weight: 300;
line-height: 48px;
letter-spacing: 0px;
text-align: left;

}
.s2_btn{
    width: 157px;
height: 40px;
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
}
.s2_titles{
    display: flex;
    gap: 600px;
}
.s2_card_1_row_1{
    width: 256px;
height: 450px;
top: 1622px;
left: 164px;
background-image: url(./images/Bitmap.png);
}
.s2_card_1_row_2{
    width: 256px;
height: 450px;
top: 1622px;
left: 164px;
background-image: url(./images/Bitmap\ \(1\).png);
}
.s2_card_1_row_3{
    width: 256px;
height: 450px;
top: 1622px;
left: 164px;
background-image: url(./images/Bitmap\ \(2\).png);
}
.s2_card_1_row_4{
    width: 256px;
height: 450px;
top: 1622px;
left: 164px;
background-image: url(./images/Bitmap\ \(3\).png);
}

.s2_card_1_row_5{
    width: 256px;
height: 450px;
top: 1622px;
left: 164px;
background-image: url(./images/Bitmap\ \(5\).png);
}
.s2_card_1_row_6{
    width: 256px;
height: 450px;
top: 1622px;
left: 164px;
background-image: url(./images/Bitmap\ \(6\).png);
}
.s2_card_1_row_7{
    width: 256px;
height: 450px;
top: 1622px;
left: 164px;
background-image: url(./images/Bitmap\ \(7\).jpg);
}
.s2_card_1_row_8{
    width: 256px;
height: 450px;
top: 1622px;
left: 164px;
background-image: url(./images/Bitmap\ \(8\).jpg);
}
.s2_card_1_row{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.s2_card_1_row_1_title{
    font-family: Josefin Sans;
font-size: 32px;
font-weight: 300;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
padding-top: 360px;
padding-left: 40px;
color: aliceblue;
}
.s2_card_2_row{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.f_title{
    display: flex;
    gap:780px;
}
.footer{
    width: 1440px;
height: 160px;
top: 2736px;
background: #000;
padding-left: 150px;
margin-top: 80px;
padding-top: 20px;
}
.f_text_2{
    font-family: Alata;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;
text-align: left;
color: #d1d1d1;
}
.f_text{
    margin-top: 20px;

    display: flex;
    gap: 470px;
}